<!-- Template email -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Efficience IT - Nouvelle Fiche Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <h1>Nouveau message</h1>
        <p>De: {{ fullname }} | Adresse mail: {{ email }}</p>
        <p>Departement de l'entreptise concerné: {{ department }}</p>
        <p>Message : {{ message }} </p>
    </body>
</html>
