{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
  <section>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Efficience IT</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Bienvenue chez Efficience IT, une agence d'experts en Symfony mais aussi en Green IT.
          Un email envoyé ici c'est égale à une bonne action faite et un arbre de plus sera planté.
        </p>
        <img class="d-block mx-auto mb-4" src="/images/tree.png" alt="" width="72" height="57">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{{ path("fiche_contact") }}" class="btn btn-primary btn-lg px-4 gap-3">Fiche contact</a>
          <a href="{{ path("show_all_contact") }}" class="btn btn-outline-secondary btn-lg px-4">Tous les contacts</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
